header {
    margin-top: 2rem;
}

    header .line-2 {
        font-size: calc(61.82px + 3.03vw);
        line-height: 0.85;
    }

    header .line-3 {
        max-width: 680px;
        padding: 0 10%;
        line-height: 1.6;
        letter-spacing: 1.12px;
    }

.menu-bar {
    height: 60px;
    width: 1300px;
    border-color: #C1C1C1;
    border-style: solid;
    margin: 64px 24px;
    text-decoration: none;
    position: relative;
    display: block;
    color: rgb(202, 202, 202);
    border-width: 0.8px;
}

.nav li {
    padding: 15px 8px;
    list-style-type: none;
}

    .nav li a {
        text-decoration: none;
        color: #C1C1C1;
        font-family: inherit;
        padding: 10px 5px 10px 5px;
        text-transform: uppercase;
        font-size: 12px;
        font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
    }

.champion-wrapper {
    margin: calc(4.5% - 20px) calc(4% - 20px) 0px;
}

.champion-card {
    height: 340px;
    overflow: hidden;
    transition: all 0.36s;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 20px, calc(100% - 20px) 0%);
}

    .champion-card img {
        width: 252px;
        transition: all 0.36s;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    .champion-card:hover {
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0%, 100% 0%);
    }

        .champion-card :hover img {
            -webkit-transform: scale(1.14);
            transform: scale(1.14);
            cursor: pointer;
        }

.name-tag {
    height: 56px;
    margin-top: 288px;
    background-color: rgb(6, 28, 37);
    cursor: pointer;
    position: absolute;
    z-index: 3;
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

    .name-tag p {
        transition: 360ms;
        font-size: 18px;
        margin-left: 30px;
        padding: 10px 0 10px 0;
        color: white;
        text-transform: uppercase;
        font-style: oblique;
        font-family: "Beaufort for LOL", serif;
    }

.champion-card:hover .name-tag {
    background-color: #006680;
    transition: background-color 300ms ease-in-out;
}

    .champion-card:hover .name-tag p {
        padding-left: 12px;
    }
