@{
  ViewBag.Title = "Home Page";
}

@section AddToHeader {
  <link href=@Url.Content("~/Content/Home.css") rel="stylesheet" type="text/css">
}

<main>
  <section class="section-0">
    <div class="section-0__wrapper position-relative">
      <div class="section-0__background-wrapper position-absolute top-0 bottom-0 start-0 end-0">
        <video class="section-0__background w-100" preload="metadata" autoplay loop muted>
          <source src="https://laptrinhkhongvui.com/resources/video/home-1-blur.mp4" type="video/mp4" />
          <source src="https://laptrinhkhongvui.com/resources/video/home-1-blur.webm" type="video/webm" />
        </video>
      </div>
      <div class="section-0__foreground position-relative">
        <div class="section-0__foreground__canvas-wrapper position-absolute">
          @Html.Partial("~/Views/Components/CanvasRect.cshtml", ViewBag.Canvas1 as object)
        </div>
        <div class="section-0__foreground__presenter-wrapper position-relative">
          <video class="section-0__foreground__presenter-background w-100" preload="metadata" autoplay loop muted>
            <source src="https://laptrinhkhongvui.com/resources/video/home-1.mp4" type="video/mp4" />
            <source src="https://laptrinhkhongvui.com/resources/video/home-1.webm" type="video/webm" />
          </video>
          <div class="section-0__foreground__presenter-logo position-absolute start-50 top-50 translate-middle">
            <img src="@Url.Content("~/images/logo/logo-full.png")" class="w-100 h-100" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-1">
    <div class="section-1__wrapper position-relative">

    </div>
  </section>
</main>

@section Scripts {
  <script src="@Url.Content("~/Scripts/Site/CanvasRect.js")"></script>
}
