@using LeagueOfLegends.Models.Components

@{
  ViewBag.Title = "Home Page";
}

@section AddToHeader {
  <style>
    .section-0__wrapper {
      padding: 3.75rem;
    }

    .section-0__background {
      object-fit: cover;
    }

    .section-0__foreground {
      height: 55vh;
      min-height: 31.25rem;
      z-index: 1;
    }

    .section-0__foreground__canvas {
      top: -12px;
      bottom: -12px;
      left: 10px;
      right: 10px;
      z-index: 2;
    }

    .section-0__foreground__presenter-background {
      object-fit: cover;
    }

    .section-0__foreground__presenter-inner {
      z-index: 3
    }

    .section-0__foreground__presenter-logo {
      width: 40vw;
      height: 17.63vw;
    }

    .section-0__foreground__presenter-play button {
      width: 195px;
      height: 56px;
      font-size: 14px;
      background-color: #0BC6E3;
      letter-spacing: 2px;
      transition: background-color 200ms ease;
    }

      .section-0__foreground__presenter-play button:hover {
        background-color: #13D8F6;
      }

    .section-0__foreground__presenter-play__canvas {
      top: -4px;
      bottom: -4px;
      left: -5px;
      right: -5px;
    }

    .section-1__wrapper {
      margin-top: -120px;
      padding-top: 120px;
      height: 300px;
      background-color: #ffffff;
    }
  </style>
}

<main>
  <section class="section-0">
    <div class="section-0__wrapper position-relative">
      <div class="section-0__background-wrapper position-absolute top-0 bottom-0 start-0 end-0">
        <video class="section-0__background w-100" preload="metadata" autoplay loop muted>
          <source src="https://laptrinhkhongvui.com/resources/video/home-1-blur.mp4" type="video/mp4" />
          <source src="https://laptrinhkhongvui.com/resources/video/home-1-blur.webm" type="video/webm" />
        </video>
      </div>
      <div class="section-0__foreground position-relative">
        <div class="section-0__foreground__canvas canvas-wrapper">
          @Html.Partial("~/Views/Components/CanvasRect.cshtml", new CanvasRect(32, new Vertex().WithTopRight()).Resizable())
        </div>
        <div class="section-0__foreground__presenter-wrapper position-relative h-100">
          <video class="section-0__foreground__presenter-background w-100 h-100" preload="metadata" autoplay loop muted>
            <source src="https://laptrinhkhongvui.com/resources/video/home-1.mp4" type="video/mp4" />
            <source src="https://laptrinhkhongvui.com/resources/video/home-1.webm" type="video/webm" />
          </video>
          <div class="section-0__foreground__presenter-inner position-absolute start-50 top-50 translate-middle">
            <div class="section-0__foreground__presenter-logo">
              <img src="@Url.Content("~/images/logo/logo-full.png")" class="w-100 h-100" />
            </div>
            <div class="section-0__foreground__presenter-play d-flex justify-content-center">
              <button class="position-relative border-0 font-spiegel text-uppercase fw-bold">
                Play for free
                <div class="section-0__foreground__presenter-play__canvas canvas-wrapper">
                  @Html.Partial("~/Views/Components/CanvasRect.cshtml", new CanvasRect(20, new Vertex().WithTopLeft().WithBottomRight()).Animate().WithColor("#DFDDE9"))
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-1">
    <div class="section-1__wrapper position-relative">

    </div>
  </section>
</main>

@section Scripts {
  <script src="@Url.Content("~/Scripts/Site/CanvasRect.js")"></script>
}
