@using LeagueOfLegends.Models
@model List<Champion>

<div class="row row-cols-3 row-cols-sm-4 row-cols-md-5 row-col-lg-5 g-3">
  @foreach (var champion in Model)
  {
    <div class="col">
      <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/@(champion.id)_0.jpg" alt="@champion.name" class="w-100"/>
    </div>
  }
</div>
