@using LeagueOfLegends.Models
@model Champion

@{
  ViewBag.Title = $"{Model.name}, {Model.title}";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHeader {
  <link href="@Url.Content("~/Content/Views/Champions/ChampionDetails.css")" rel="stylesheet" />
}

<main>

  <section class="overview">
  </section>
  <section class="abilities"></section>
  <section class="skins"></section>
</main>
