
@{
  ViewBag.Title = "Champions";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHeader {
  <link href="@Url.Content("~/Content/Views/Champions/Index.css")" rel="stylesheet" />
}

<header class="text-center font-spiegel">
  <div class="line-1 fw-bold fst-italic text-uppercase fs-5">Choose your</div>
  <div class="line-2 font-beaufort fw-bolder fst-italic text-uppercase">Champion</div>
  <p class="line-3 mt-2 mx-auto">With more than 140 champions, you’ll find the perfect match for your playstyle. Master one, or master them all.</p>
</header>
<div class="menu-bar w-100">
  <ul class="nav w-100">
    <li style="padding: 15px 36px 15px 36px;border-right:solid; border-left-color: #C1C1C1;border-width:0.8px "><a style="color:black" href="#"><i style="color: #C2902D" class="fas fa-search"></i>Search</a></li>
    <li style="padding:15px 15px 15px 260px"><a href="#">All</a></li>
    <li><a href="#">Assassins</a></li>
    <li><a href="#">Fighters</a></li>
    <li><a href="#">Mages</a></li>
    <li><a href="#">Marksmen</a></li>
    <li><a href="#">Supports</a></li>
    <li style="padding:15px 224px 15px 15px"><a href="#">Tanks</a></li>
    <li style="padding: 15px 36px 15px 36px; border-left: solid; border-left-color: #C1C1C1; border-width: 0.8px"><a style="color:black" href="#">All difficulties</a><i class="fa-thin fa-angle-down"></i></li>
  </ul>

</div>

<main>
  @Html.Action("ChampionsList")
</main>
