
@{
  ViewBag.Title = "Champions";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHeader {
  <link href="@Url.Content("~/Content/Views/Champions/Index.css")" rel="stylesheet" />
}

<header class="text-center font-spiegel">
  <div class="line-1 fw-bold fst-italic text-uppercase fs-5">Choose your</div>
  <div class="line-2 font-beaufort fw-bolder fst-italic text-uppercase">Champion</div>
  <p class="line-3 mt-2 mx-auto">With more than 140 champions, you’ll find the perfect match for your playstyle. Master one, or master them all.</p>
</header>

<main>
  @Html.Action("ChampionsList")
</main>

