main .section-0__wrapper {
    padding: 3.75rem;
}

main .section-0__background {
    object-fit: cover;
}

main .section-0__foreground {
    height: 55vh;
    min-height: 31.25rem;
    z-index: 1;
}

main .section-0__foreground__canvas {
    top: -12px;
    bottom: -12px;
    left: 10px;
    right: 10px;
    z-index: 2;
}

main .section-0__foreground__presenter-background {
    object-fit: cover;
}

main .section-0__foreground__presenter-inner {
    z-index: 3
}

main .section-0__foreground__presenter-logo {
    width: 40vw;
    height: 17.63vw;
}

main .section-0__foreground__presenter-play button {
    width: 195px;
    height: 56px;
    font-size: 14px;
    background-color: #0BC6E3;
    letter-spacing: 2px;
    transition: background-color 200ms ease;
}

    main .section-0__foreground__presenter-play button:hover {
        background-color: #13D8F6;
    }

main .section-0__foreground__presenter-play__canvas {
    top: -4px;
    bottom: -4px;
    left: -5px;
    right: -5px;
}

main .section-1__wrapper {
    margin-top: -120px;
    padding: 120px 0 40px;
    background: url(../../../images/assets/home-bg.png) left top repeat-x #F7F7F7;
}

main .section-1__title {
    width: 60px;
    flex: 0 0 auto;
}

main .section-1__title-wrapper {
    width: 130px;
    color: #1C1D2A;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2.5px;
    transform: rotate(-90deg) translate(-75%, 125%);
    transform-origin: top left;
    -webkit-font-smoothing: antialiased;
}

    main .section-1__title-wrapper span {
        display: block;
        width: 15px;
        height: 1.5px;
        background-color: #1C1D2A;
    }

main .section-1__content {
    flex-grow: 1;
    padding-right: 60px;
}

main .section-1__content__view-all__link {
    margin-top: 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.12em;
}

    main .section-1__content__view-all__link * {
        margin-left: 5px;
        color: #0BC6E3;
        transition: transform 0.2s ease;
    }

    main .section-1__content__view-all__link:hover * {
        transform: translateX(7px);
    }

main .section-1 .news {
    overflow-x: auto;
}

main .section-1 article {
    margin: 0 25px;
    padding: 10px;
    max-width: 420px;
}

main .section-1 .news .col:first-child article {
    margin-left: 0;
}

main .section-1 .news .col:last-child article {
    margin-right: 0;
}

main .section-1 .news .col article a:hover img {
    transform: scale3d(1, 1, 1);
}

main .section-1 article .media {
    height: 120px;
    flex-basis: 120px;
}

    main .section-1 article .media img {
        object-fit: cover;
        transform: scale3d(1.035, 1.035, 1.035);
        transition: transform 0.3s ease;
    }

main .section-1 article .body {
    padding: 0 10%;
    flex-basis: auto;
}

    main .section-1 article .body .category {
        color: #BCBCBC;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 0.2em;
    }

    main .section-1 article .body .headline,
    main .section-1 article .body .blurb {
        color: #1A1B21;
    }

    main .section-1 article .body .headline {
        margin-top: 10px;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.54px;
    }

    main .section-1 article .body .blurb {
        margin-top: 8px;
        font-size: 12px;
        letter-spacing: 0.05em;
    }

main .section-1 article .canvas-wrapper {
    top: -10px;
    bottom: -10px;
    left: 10px;
    right: 0;
}

main .section-2 {
    max-width: 1800px;
    padding: 0 60px;
    margin: 4% auto;
}

main .section-2__background {
    overflow: hidden;
}

    main .section-2 img {
        transform: scale3d(1.05, 1.05, 1);
        -moz-transition: transform 0.25s ease-in-out;
        -o-transition: transform 0.25s ease-in-out;
        -webkit-transition: transform 0.25s ease-in-out;
        transition: transform 0.25s ease-in-out;
    }

    main .section-2 a:hover img {
        transform: none;
    }

main .section-2__canvas {
    top: 10px;
    bottom: 10px;
    left: -10px;
    right: -10px;
}
