@using LeagueOfLegends.Models.Components

<footer>
  <div class="presenter position-relative">
    <div class="presenter-wrapper">
      <video class="presenter__background w-100" preload="metadata" autoplay loop muted>
        <source src="https://laptrinhkhongvui.com/resources/video/home-footer.mp4" type=video/mp4 />
      </video>
    </div>
    <div class="presenter__play position-absolute start-50 top-50 translate-middle">
      <button class="btn-play-for-free border-0 font-spiegel text-uppercase fw-bold">
        Play for free
        @Html.Partial("~/Views/Components/CanvasRect.cshtml", new CanvasRect(20, new Vertex().TopLeft().BottomRight())
         .Animate("footer_play-btn")
         .Color("#DFDDE9")
         .Position(new Position(-5, -4)))
      </button>
    </div>
    <div class="footer">
        <div class="footer-content">
            <div class="section-inner">
                <h1 class="section-inner-title">Take League With You</h1>
                <div class="section-inner-description">Download the League app to stay connected to friends and the latest game and esports news.</div>
                <div class="section-inner-mobilestore">
                    <a class="AppStoreButton" href="https://apps.apple.com/us/app/league-of-legends-friends/id1077150310"><img alt="Download on the App Store" class="style__NoScriptImg-g183su-0 style__Img-g183su-1 cipsic dBitJH style__Badge-sc-1bj5x98-6 digDWp" src="/static/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.2928664f.svg">
                        <noscript><img src="/static/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.2928664f.svg" alt="Download on the App Store" class="style__NoScriptImg-g183su-0 cipsic style__Badge-sc-1bj5x98-6 digDWp" /></noscript>
                    </a>
                    <a class="GooglePlayButton" href="https://play.google.com/store/apps/details?id=com.riotgames.mobile.leagueconnect&amp;hl=en"><img alt="Get it on Google Play" class="style__NoScriptImg-g183su-0 style__Img-g183su-1 cipsic dBitJH style__Badge-sc-1bj5x98-6 digDWp" src="/static/en_get.b89beec4.svg">
                        <noscript><img src="~/images/logo/downloadontheappstore.png" alt="Get it on Google Play" class="style__NoScriptImg-g183su-0 cipsic style__Badge-sc-1bj5x98-6 digDWp" /></noscript>
                    </a>
                </div>
            </div>
            <div class="footer-links">
                <ul>
                    <li class="undefined footer-links">
                        <a>ABOUT LEAGUE OF LEGEND</a>
                    </li>
                    <li class="undefined footer-links">
                        <a>HELP US IMPROVE</a>
                    </li>
                    <li class="undefined footer-links">
                        <a>SERVER STATUS</a>
                    </li>
                    <li class="undefined footer-links">
                        <a>SUPPORT</a>
                    </li>
                    <li class="undefined footer-links">
                        <a>ESPORTS PRO SITE</a>
                    </li>
                    <li class="undefined footer-links">
                        <a>DOWNLOAD RIOT MOBILE COMPANION APP</a>
                    </li>
                </ul>
            </div>
            <div class="social-links">
                <ul>
                    <li><a href="#" classs="fa fa-facebook"></a></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="footer-logos">

            </div>
            <div class="footer-copyright">
                <p>™ & © 2022 Riot Games, Inc.  League of Legends and all related logos, characters, names and distinctive likenesses thereof are exclusive property of Riot Games, Inc.  All Rights Reserved.</p>
            </div>
            <div class="legal-links">
                <ul>
                    <li>
                        <a>PRIVACY NOTICE</a>
                    </li>
                    <li>
                        <a>TERMS OF SERVICE</a>
                    </li>
                    <li>
                        <a>COOKIE POLICY</a>
                    </li>
                    <li>
                        <a>COMPANY INFORMATION</a>
                    </li>
                    <li>
                        <a>COOKIE PREFERENCES</a>
                    </li>

                </ul>
            </div>
            <div class="game-rating">

            </div>
        </div>
    </div>
  </div>
</footer>
