.section-0__wrapper {
    min-height: 31.25rem;
    padding: 3.75rem;
}

.section-0__background {
    object-fit: cover;
}

.section-0__foreground {
    z-index: 1;
}

.section-0__foreground__canvas-wrapper {
    top: -10px;
    bottom: -10px;
    left: 10px;
    right: 10px;
    z-index: 2;
}

.section-0__foreground__presenter-logo {
    width: 40vw;
    height: 17.63vw;
}

.section-1__wrapper {
    margin-top: -120px;
    padding-top: 120px;
    height: 300px;
    background-color: #ffffff;
}
