/* Set padding to keep content from hitting the edges */

@font-face {
    font-family: 'Spiegel';
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Spiegel-Regular.woff");
}

@font-face {
    font-family: 'Spiegel';
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Spiegel-Regular.woff");
}

@font-face {
    font-family: 'Spiegel';
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/Spiegel-SemiBold.woff");
}

@font-face {
    font-family: 'Spiegel';
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Spiegel-Bold.woff");
}

@font-face {
    font-family: 'Spiegel';
    font-weight: 600;
    font-style: italic;
    src: url("../fonts/Spiegel-SemiBoldItalic.woff");
}

@font-face {
    font-family: 'Spiegel';
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/Spiegel-SemiBoldItalic.woff");
}

@font-face {
    font-family: 'Spiegel';
    font-weight: 800;
    font-style: normal;
    src: url("../fonts/Spiegel-Bold.woff");
}

@font-face {
    font-family: 'Spiegel';
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/Spiegel-Bold.woff");
}

@font-face {
    font-family: 'Spiegel';
    font-weight: 800;
    font-style: italic;
    src: url("../fonts/Spiegel-BoldItalic.woff");
}

@font-face {
    font-family: 'Spiegel';
    font-weight: 900;
    font-style: italic;
    src: url("../fonts/Spiegel-BoldItalic.woff");
}

@font-face {
    font-family: "Beaufort for LOL";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/BeaufortforLOL-Regular.woff");
}

@font-face {
    font-family: "Beaufort for LOL";
    font-weight: bolder;
    font-style: italic;
    src: url("../fonts/BeaufortforLOL-HeavyItalic.woff");
}

@font-face {
    font-family: "Beaufort for LOL";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/BeaufortforLOL-Bold.woff");
}

@font-face {
    font-family: "MarkPro";
    font-weight: normal;
    src: url("../fonts/MarkPro-Regular.woff2");
}

@font-face {
    font-family: "MarkPro";
    font-weight: bold;
    src: url("../fonts/MarkPro-Bold.woff2");
}

@font-face {
    font-family: "MarkPro";
    font-weight: lighter;
    src: url("../fonts/MarkPro-Light.woff2");
}

body {
    font-size: 14px;
    font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
}

.font-spiegel {
    font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
}

.font-beaufort {
    font-family: "Beaufort for LOL", serif;
}

.font-mark-pro {
    font-family: "MarkPro", Arial ,sans-serif;
}

.canvas-wrapper {
    position: absolute;
}
